body {
  background: #000;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.keys {
  display: flex;
  gap: 10px;
}

.key {
  border: 4px solid #fff;
  border-radius: 5px;
  padding: 20px;
  width: 80px;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  transition: all 0.07s ease;
  cursor: pointer;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 40px;
}

span {
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffc600;
}